FlashIMClient/.vs/
FlashIMClient/CatchScreen/Release/
FlashIMClient/CatchScreen/debug/
FlashIMClient/Source/Release/
FlashIMClient/Source/flamingo.aps
FlashIMClient/iAutoUpdate/Release/

FlashIMServer/FlamingoServer.sdf
FlashIMServer/FlamingoServer.v12.suo
FlashIMServer/FlamingoServer.vcxproj.user
FlashIMServer/windowsproj/chatserver.exe
FlashIMServer/windowsproj/chatserver/
FlashIMServer/windowsproj/filecache/
FlashIMServer/windowsproj/fileserver.exe
FlashIMServer/windowsproj/fileserver/
FlashIMServer/windowsproj/imgserver.exe
FlashIMServer/windowsproj/imgserver/
FlashIMServer/windowsproj/x64/
flamingoAndroid/build
flamingoAndroid/.idea

*.opensdf
*.sdf
iKutil.log

# Compiled Object files
*.slo
*.lo
*.o
*.log
LoginAccountList.data
FlashIMClient/Bin/Users/
*.ilk
*.suo
iUpdateAuto.exe
*.tlog
*.lastbuild
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
FlashIMClient/Source/Debug/
FlashIMClient/iAutoUpdate/debug/
FlashIMClient/Bin/Flamingo.exe
FlashIMClient/Bin/CatchScreen.exe

FlashIMClient/Bin/Logs/

# Compiled Static libraries
*.lai
*.la
*.a
*.sbr
*.idb
*.obj
*.pdb
*.ncb
*.pch
*.bsc
*.user
*.dep
*.map

.DS_Store
.vscode/
flamingoAndroid/.DS_Store
flamingoAndroid/.gradle/
flamingoAndroid/app/.DS_Store
flamingoAndroid/app/app.iml
flamingoAndroid/app/build/
flamingoAndroid/app/src/.DS_Store
flamingoAndroid/app/src/main/.DS_Store
flamingoAndroid/app/src/main/java/.DS_Store
flamingoAndroid/app/src/main/java/org/.DS_Store
flamingoAndroid/app/src/main/java/org/hootina/.DS_Store
flamingoAndroid/app/src/main/java/org/hootina/platform/.DS_Store
flamingoAndroid/app/src/main/java/org/hootina/platform/model/.DS_Store
flamingoAndroid/app/src/main/res/.DS_Store
FlashIMClient/.DS_Store
FlashIMClient/Bin/.DS_Store
FlashIMClient/Source/.DS_Store
FlashIMClient/Source/net/.DS_Store
FlashIMServer/.DS_Store
FlashIMServer/.vs/
